.rotate-45 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.rotate-90 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  font-size: 16px;
}
.cool-font {
  font-family: 'Courgette', cursive;
}
.animation-blink {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@-webkit-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}
body {
  background-color: #245e94;
  background-image: url('../images/background-black.png');
  color: #fff;
  font-family: 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
.container {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
.clock {
  text-align: center;
  padding: 5px;
  font-size: 1.4em;
  font-family: 'Courgette', cursive;
}
.ba-depart-info .inline {
  display: inline-block;
  width: 42.5%;
  margin-left: -4px;
}
.ba-depart-info .arrow {
  width: 15%;
  font-size: 1.2em;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
.ba-depart-info .left {
  text-align: left;
}
.ba-depart-info .right {
  text-align: right;
}
.ba-depart-info .center {
  text-align: center;
}
.ba-depart-info .label {
  font-size: 0.9em;
}
.ba-depart-info .value {
  font-size: 1em;
  text-transform: lowercase;
  color: #00ff00;
}
.ba-depart-info .cost {
  color: #fffa32;
}
.time-lapse {
  text-align: center;
  margin: 15px auto;
  width: 150px;
  height: 150px;
  border: 15px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3) inset;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  font-family: 'Courgette', cursive;
}
.time-lapse .lapse {
  font-size: 1.9em;
  margin-top: 30px;
}
.time-lapse .message {
  font-size: 1.4em;
  margin-top: 15px;
}
.menu-panel li {
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.dashboard .origin {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.3);
}
.dashboard .swap {
  padding: 10px;
  text-align: center;
}
.dashboard .destination {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.3);
}
.dashboard .time-lapse {
  padding: 10px;
}
.dashboard .search-button {
  width: 100%;
  padding: 10px 0;
}
.dashboard .trip-divider {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 5px 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.dashboard .view-next-set {
  padding: 10px;
}
.station-list input {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 5px;
  border: 1px solid grey;
}
.station-list ul {
  overflow-y: auto;
}
.station-list ul li {
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.find-bart-station ul li {
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.find-bart-station ul li a {
  color: #ffd700;
}
/*# sourceMappingURL=catchBart.css.map */