.rotate-45 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.rotate-90 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  font-size: 16px;
}
.cool-font {
  font-family: 'Courgette', cursive;
}
.animation-blink {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@-webkit-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
.animate-repeat.ng-enter {
  -webkit-animation: fadeIn 200ms;
  animation: fadeIn 200ms;
}
.animate-repeat.ng-leave {
  -webkit-animation: fadeOut 200ms;
  animation: fadeOut 200ms;
}
.animate-rotate.ng-enter {
  -webkit-animation: flipInY 400ms;
  animation: flipInY 400ms;
}
.animate-rotate.ng-leave {
  -webkit-animation: flipOutY 400ms;
  animation: flipOutY 400ms;
}
.animate-entrance.ng-enter {
  -webkit-animation: lightSpeedIn 200ms;
  animation: lightSpeedIn 200ms;
}
.animate-entrance.ng-leave {
  -webkit-animation: lightSpeedOut 200ms;
  animation: lightSpeedOut 200ms;
}
.animate-bounce-left.ng-enter {
  -webkit-animation: bounceInLeft 1000ms;
  animation: bounceInLeft 1000ms;
}
.animate-bounce-left.ng-leave {
  -webkit-animation: bounceOutLeft 1000ms;
  animation: bounceOutLeft 1000ms;
}
.animate-bounce-right.ng-enter {
  -webkit-animation: bounceInRight 1000ms;
  animation: bounceInRight 1000ms;
}
.animate-bounce-right.ng-leave {
  -webkit-animation: bounceOutRight 1000ms;
  animation: bounceOutRight 1000ms;
}
.animate-fade-up.ng-enter {
  -webkit-animation: bounceIn 400ms;
  animation: bounceIn 400ms;
}
.animate-fade-up.ng-leave {
  -webkit-animation: fadeOutDown 400ms;
  animation: fadeOutDown 400ms;
}
.animate-wobble.ng-enter {
  -webkit-animation: wobble 400ms;
  animation: wobble 400ms;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: #245e94;
  background-image: url('../images/background-black.png');
  color: #fff;
  font-family: 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
button {
  -webkit-appearance: none;
  background: #cccccc;
}
.container {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  background: url('../images/intermiddent.png') 0 0 transparent;
  background-size: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
.center {
  text-align: center;
}
.type-success {
  color: #00ff00;
}
.type-failure {
  color: #dc2939;
}
.type-warning {
  color: #ff8e35;
}
[data-app-load-cloak],
[app-load-cloak] {
  opacity: 0;
}
.clock {
  text-align: center;
  padding: 5px;
  font-size: 1.4em;
  font-family: 'Courgette', cursive;
}
.trip-divider {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 5px 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.trip-divider .ba-depart-info .inline {
  display: inline-block;
  width: 42.5%;
  margin-left: -4px;
  vertical-align: top;
}
.trip-divider .ba-depart-info .arrow {
  width: 15%;
  font-size: 1.2em;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
.trip-divider .ba-depart-info .left {
  text-align: left;
}
.trip-divider .ba-depart-info .right {
  text-align: right;
}
.trip-divider .ba-depart-info .center {
  text-align: center;
}
.trip-divider .ba-depart-info .label {
  font-size: 0.9em;
}
.trip-divider .ba-depart-info .value {
  font-size: 1em;
  text-transform: lowercase;
  color: #00ff00;
}
.trip-divider .ba-depart-info .cost {
  color: #fffa32;
}
.trip-divider .ba-depart-info .travel-time {
  color: #00ff00;
  font-weight: 700;
}
.trip-divider .ba-depart-info .travel-time .small {
  color: #ff8e35;
  font-style: italic;
  font-size: 0.8em;
  font-weight: 300;
}
.time-lapse {
  text-align: center;
  margin: 15px auto;
  width: 150px;
  height: 150px;
  border: 15px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3) inset;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  font-family: 'Courgette', cursive;
}
.time-lapse .lapse {
  font-size: 1.6em;
  margin-top: 30px;
}
.time-lapse .message {
  font-size: 1.4em;
  margin-top: 15px;
}
.back-button {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.back-button .button {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  display: inline-block;
  margin: 5px;
}
.back-button .button.ng-click-active {
  background: rgba(0, 0, 0, 0.5);
}
.back-button .title {
  font-family: 'Lobster', cursive;
  float: right;
  padding: 10px 20px 0 0;
  font-size: 1.4em;
}
.spinner {
  height: 125px;
  width: 125px;
  margin: 20px auto;
  position: relative;
  -webkit-animation: rotation 0.6s infinite linear;
  animation: rotation 0.6s infinite linear;
  border-left: 10px solid rgba(0, 0, 0, 0.15);
  border-right: 10px solid rgba(0, 0, 0, 0.15);
  border-bottom: 10px solid rgba(0, 0, 0, 0.15);
  border-top: 10px solid rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.web-intent {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  margin-bottom: 50px;
}
.web-intent .intent {
  text-align: center;
}
.web-intent .intent .message {
  display: inline-block;
  max-width: 80%;
  padding: 10px 12px;
  background: #181818;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  font-size: 0.8em;
}
.color-routes table {
  margin: 15px auto;
}
.menu-panel li {
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
.menu-panel li span {
  font-size: 2.5em;
}
.menu-panel li div {
  font-size: 1.25em;
}
.menu-panel li.ng-click-active {
  background: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.8);
}
.dashboard {
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}
.dashboard .menu {
  padding: 10px;
  margin: 2px;
  float: left;
  margin-top: -2em;
  font-size: 1.2em;
}
.dashboard .menu.ng-click-active {
  background: rgba(0, 0, 0, 0.2);
}
.dashboard .origin {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
.dashboard .origin i {
  float: right;
}
.dashboard .origin.ng-click-active {
  background: rgba(0, 0, 0, 0.4);
}
.dashboard .swap {
  padding: 10px;
  text-align: center;
}
.dashboard .destination {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
.dashboard .destination i {
  float: right;
}
.dashboard .destination.ng-click-active {
  background: rgba(0, 0, 0, 0.4);
}
.dashboard .advanced-search .search-box {
  margin: 7.5px 5px;
  padding: 5px 0;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 15px;
}
.dashboard .advanced-search .search-box.ng-click-active {
  background: rgba(0, 0, 0, 0.4);
}
.dashboard .advanced-search .search-contents {
  padding: 3px;
  margin: 3px;
}
.dashboard .advanced-search .search-contents .date-time {
  border: 1px solid grey;
  padding: 10px 5px;
  width: 100%;
}
.dashboard .time-lapse {
  padding: 10px;
}
.dashboard .search-button {
  width: 100%;
  padding: 10px 0;
}
.dashboard .travel-results {
  margin: 5px 0;
}
.dashboard .travel-results li.ng-click-active .trip-divider {
  background: rgba(0, 0, 0, 0.4);
}
.dashboard .view-next-set {
  padding: 10px;
}
.station-list .input-station {
  display: -webkit-flex;
  display: flex;
  background: #fff;
  margin: 2px;
}
.station-list .input-station input {
  -webkit-flex: 1;
  flex: 1;
  background: none;
  padding: 10px 5px;
  border: 0;
  outline: none;
}
.station-list .input-station .side-icon {
  width: 40px;
  padding: 10px 0;
  color: #245e94;
  font-size: 1.2em;
  text-align: center;
}
.station-list .input-station .side-icon.ng-click-active {
  background: rgba(0, 0, 0, 0.1);
}
.station-list ul {
  overflow-y: auto;
  margin: 10px 0 0;
}
.station-list ul li {
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.station-list ul li.ng-click-active {
  background: rgba(0, 0, 0, 0.4);
}
.find-bart-station .location-intermittent {
  margin-top: 30px;
}
.find-bart-station .location-intermittent span {
  font-weight: 700;
  font-size: 0.9em;
  padding: 10px;
}
.find-bart-station ul li {
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 60px;
}
.find-bart-station ul li a {
  color: #fff;
  font-size: 1.4em;
  padding: 6px 15px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px;
}
.find-bart-station ul li a.ng-click-active,
.find-bart-station ul li a:active {
  color: #245e94;
  background: rgba(0, 0, 0, 0.4);
}
.find-bart-station ul li .station-info .map-link {
  float: right;
}
.find-bart-station ul li .distance .distance-value {
  font-size: 0.8em;
  color: #ff8e35;
}
.route-details {
  padding: 5px;
}
.route-map .bart-map img {
  width: 100%;
}
/*# sourceMappingURL=catchBart.css.map */