.dashboard {
  .origin {
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.3);
  }
  .swap{
    padding: 10px;
    text-align: center;
  }
  .destination {
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.3);
  }
  .time-lapse {
    padding: 10px;
  }
  .search-button{
    width: 100%;
    padding: 10px 0;
  }
  .trip-divider {
    background: rgba(0, 0, 0, 0.2);
    padding: 5px 5px 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .view-next-set {
    padding: 10px;
  }
}