.dashboard {
    .origin {
        padding: 10px;
    }
    .destination {
        padding: 10px;
    }
    .time-lapse {
        padding: 10px;
    }
    .view-next-set {
        padding: 10px;
    }
}