.clock {
  text-align: right;
  padding: 5px;
}

.ba-depart-info {
  .inline {
    display: inline-block;
    width: 50%;
    margin-left: -4px;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  .center {
    text-align: center;
  }
}