.find-bart-station {
  .location-intermittent {
    margin-top: 30px;
    span {
      font-weight: 700;
      font-size: 0.9em;
      padding: 10px;
    }
  }
  ul {
    li {
      padding: 10px 15px;
      background: rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(0, 0, 0, 0.1);
      min-height: 60px;
      a {
        color: #fff;
        font-size: 1.4em;
        padding: 6px 15px;
        background: rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 2px;
        &.ng-click-active, &:active {
          color: @color-navy;
          background: rgba(0, 0, 0, 0.4);
        }
      }
      .station-info {
        .map-link {
          float: right;
        }
      }
      .distance {
        .distance-value {
          font-size: 0.8em;
          color: @color-orange;
        }
      }
    }
  }
  .error-message {

  }
}