<div class="trip-divider">
    <div class="ba-depart-info" data-ng-if="trip.leg.length">
        <div class="connection-information center">
            This travel has a <i class="fa fa-arrows-h"></i> connection
        </div>
        <div class="leg" data-ng-repeat="leg in trip.leg">
            <div class="inline left text-left">
                {{leg._origin}}
                <div class="value">({{leg._origTimeMin}})</div>
            </div>
            <div class="inline center arrow">
                <i class="fa fa-long-arrow-right"></i>
            </div>
            <div class="inline right text-right">
                {{leg._destination}}
                <div class="value">({{leg._destTimeMin}})</div>
            </div>
            <div class="center" data-ng-if="!$last">
                Connect Via
            </div>
            <div class="center" data-ng-if="$last">
                <div>
                    <span class="cost-title label">
                        Travel Cost:
                    </span>
                    <span class="value cost">
                        {{trip._fare | currency}}
                    </span>
                </div>
                <div>
                    <span class="time-title label">
                    Total Travel Time:
                    </span>
                    <travel-time-display data-trip="trip"></travel-time-display>
                </div>
            </div>
        </div>
    </div>
    <div class="ba-depart-info" data-ng-if="!trip.leg.length">
        <div class="inline left text-left">
            <span class="depart-title label">
                Starts:
            </span>
            <span class="value">
                {{trip.leg._origTimeMin}}
            </span>
        </div>
        <div class="inline center arrow">
            <i class="fa fa-long-arrow-right"></i>
        </div>
        <div class="inline right text-right">
            <span class="reach-title label">
                Reaches:
            </span>
            <span class="value">
                {{trip.leg._destTimeMin}}
            </span>
        </div>
        <div class="center">
            <div>
                <span class="cost-title label">
                    Travel Cost:
                </span>
                <span class="value cost">
                    {{trip._fare | currency}}
                </span>
            </div>
            <div>
                <span class="time-title label">
                Total Travel Time:
                </span>
                <travel-time-display data-trip="trip"></travel-time-display>
            </div>
        </div>
    </div>
</div>