<div class="time-lapse animate-rotate" data-ng-if="!hide">
    <div class="lapse" data-ng-if="!message && time">
        <span data-ng-if="time.hours">
            {{time.hours}}h<span class="colon animation-blink">:</span>{{time.minutes}}
        </span>
        <span data-ng-if="!time.hours">
            {{time.minutes}}m<span class="colon animation-blink">:</span>{{time.seconds}}s
        </span>
    </div>
    <div class="lapse message" data-ng-if="message" data-ng-class="{'animation-blink':blink}">
        {{message}}
    </div>
</div>