<div class="dashboard">
    <div data-watch-clock=""></div>
    <div class="origin" data-ng-click="$state.go('stations', {mode: 'origin'})">
        <span data-ng-if="!travel.origin">Select Origin</span>
        {{travel.origin.name}}
    </div>
    <div class="swap" data-ng-click="travel.swap()">
        <i class="fa fa-refresh rotate-90 fa-2x"></i>
    </div>
    <div class="destination" data-ng-click="$state.go('stations', {mode: 'destination'})">
        <span data-ng-if="!travel.destination">Select Destination</span>
        {{travel.destination.name}}
    </div>
    <button class="search-button button" data-ng-if="travel.origin && travel.destination"
            data-ng-click="travel.search()">
        Search for schedules
    </button>
    <div class="time-lapse">
        <data-time-lapse data-ng-if="travel.timer" data-timer="{{travel.timer}}"></data-time-lapse>
    </div>
    <ul data-ng-if="travel.results">
        <li data-ng-repeat="trip in travel.results.schedule.request.trip">
            <div class="trip-divider" data-ng-if="trip.leg.length">
                <div class="ba-depart-info">
                    <div class="connection-information">
                        This travel has a connection
                    </div>
                    <div class="leg" data-ng-repeat="leg in trip.leg">
                        {{leg._origin}} to {{leg._destination}} at {{leg._origTimeMin}} and will reach at
                        {{leg._destTimeMin}}
                        <div class="center" data-ng-if="!$last">
                            Connect Via
                        </div>
                        <div data-ng-if="$last">
                            {{trip._fare | currency}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="trip-divider" data-ng-if="!trip.leg.length">
                <div class="ba-depart-info">
                    <div class="inline left">
                        <span class="depart-title">
                            Starts:
                        </span>
                        <span>
                            {{trip.leg._origTimeMin}}
                        </span>
                    </div>
                    <div class="inline right">
                        <span class="reach-title">
                            Reaches:
                        </span>
                        <span>
                            {{trip.leg._destTimeMin}}
                        </span>
                    </div>
                    <div class="center">
                        <span class="cost-title">
                            Travel Cost:
                        </span>
                        <span>
                            {{trip._fare | currency}}
                        </span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>