<div class="dashboard">
    <watch-clock></watch-clock>
    <div class="origin" data-ng-click="$state.go('stations', {mode: 'origin'})">
        <span data-ng-if="!travel.origin">Select Origin</span>
        <span data-ng-if="travel.origin">
            {{travel.origin.name}}
            <i class="fa fa-pencil"></i>
        </span>
    </div>
    <div class="swap" data-ng-click="travel.swap()">
        <i class="fa fa-refresh rotate-90 fa-2x"></i>
    </div>
    <div class="destination" data-ng-click="$state.go('stations', {mode: 'destination'})">
        <span data-ng-if="!travel.destination">Select Destination</span>
        <span data-ng-if="travel.destination">
            {{travel.destination.name}}
            <i class="fa fa-pencil"></i>
        </span>
    </div>
    <button class="search-button button" data-ng-if="travel.origin && travel.destination"
            data-ng-click="travel.search()">
        Search for schedules
    </button>
    <div>
        <div class="time-lapse-container animate-rotate" data-ng-if="travel.timer">
            <data-time-lapse data-timer="{{travel.timer}}"></data-time-lapse>
        </div>
        <ul data-ng-if="travel.results">
            <li data-ng-repeat="trip in travel.results.schedule.request.trip"
                data-ng-click="$state.go('details',{id: $index})"
                data-ng-class="{'animate-bounce-left': $even, 'animate-bounce-right': $odd}">
                <div class="trip-divider" data-ng-if="trip.leg.length">
                    <div class="ba-depart-info">
                        <div class="connection-information center">
                            This travel has a <i class="fa fa-arrows-h"></i> connection
                        </div>
                        <div class="leg" data-ng-repeat="leg in trip.leg">
                            <div class="inline left text-left">
                                {{leg._origin}}
                                <div class="value">({{leg._origTimeMin}})</div>
                            </div>
                            <div class="inline center arrow">
                                <i class="fa fa-long-arrow-right"></i>
                            </div>
                            <div class="inline right text-right">
                                {{leg._destination}}
                                <div class="value">({{leg._destTimeMin}})</div>
                            </div>
                            <div class="center" data-ng-if="!$last">
                                Connect Via
                            </div>
                            <div class="center" data-ng-if="$last">
                                <div>
                                    <span class="cost-title label">
                                        Travel Cost:
                                    </span>
                                    <span class="value cost">
                                        {{trip._fare | currency}}
                                    </span>
                                </div>
                                <div>
                                    <span class="time-title label">
                                    Total Travel Time:
                                    </span>
                                    <span class="value travel-time">
                                        {{trip | travelTimeFilter}} <span class="small">mins</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="trip-divider" data-ng-if="!trip.leg.length">
                    <div class="ba-depart-info">
                        <div class="inline left text-left">
                        <span class="depart-title label">
                            Starts:
                        </span>
                        <span class="value">
                            {{trip.leg._origTimeMin}}
                        </span>
                        </div>
                        <div class="inline center arrow">
                            <i class="fa fa-long-arrow-right"></i>
                        </div>
                        <div class="inline right text-right">
                        <span class="reach-title label">
                            Reaches:
                        </span>
                        <span class="value">
                            {{trip.leg._destTimeMin}}
                        </span>
                        </div>
                        <div class="center">
                            <div>
                                <span class="cost-title label">
                                    Travel Cost:
                                </span>
                                <span class="value cost">
                                    {{trip._fare | currency}}
                                </span>
                            </div>
                            <div>
                                <span class="time-title label">
                                Total Travel Time:
                                </span>
                                <span class="value travel-time">
                                    {{trip | travelTimeFilter}} <span class="small">mins</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>