<div class="dashboard" data-app-load-cloak>
    <watch-clock></watch-clock>
    <span class="menu" data-ng-click="$state.go('menu')">
        <i class="fa fa-th-list"></i>
    </span>
    <div class="origin" data-ng-click="$state.go('stations', {mode: 'origin'})">
        <span data-ng-if="!travel.origin">Select Origin</span>
        <span data-ng-if="travel.origin">
            {{travel.origin.name}}
            <i class="fa fa-pencil"></i>
        </span>
    </div>
    <div class="swap" data-ng-click="travel.swap()">
        <i class="fa fa-refresh rotate-90 fa-2x"></i>
    </div>
    <div class="destination" data-ng-click="$state.go('stations', {mode: 'destination'})">
        <span data-ng-if="!travel.destination">Select Destination</span>
        <span data-ng-if="travel.destination">
            {{travel.destination.name}}
            <i class="fa fa-pencil"></i>
        </span>
    </div>
    <div class="advanced-search">
        <div class="search-box center" data-ng-click="showAdvancedOptions()">
            <i class="fa fa-cog"></i>
            <span>Advanced search</span>
        </div>
        <div class="search-contents" data-ng-show="advanced.show">
            <input type="datetime-local" placeholder="Select Date" data-ng-model="advanced.date" class="date-time"/>
        </div>
    </div>
    <button class="search-button button" data-ng-if="travel.origin && travel.destination"
            data-ng-click="travel.search()">
        Search for schedules
    </button>
    <div>
        <div class="time-lapse-container animate-rotate" data-ng-if="travel.timer.success">
            <data-time-lapse data-timer="travel.timer"></data-time-lapse>
        </div>
        <ul class="travel-results" data-ng-if="travel.results">
            <li data-ng-repeat="trip in travel.results.schedule.request.trip"
                data-ng-click="$state.go('details',{id: $index})"
                data-ng-class="{'animate-bounce-left': $even, 'animate-bounce-right': $odd}">
                <ba-depart-info data-trip="trip"></ba-depart-info>
            </li>
        </ul>
    </div>
</div>