<div class="find-bart-station">
    <div class="stations" data-ng-if="!loading">
        <ul data-ng-if="bart.stations">
            <li class="center">
                List of station based on your distance
            </li>
            <li data-ng-repeat="station in bart.stations">
                <div class="station-info">
                    <span class="station-name">{{station.name}}</span>
                    <a class="map-link" data-ng-click="openInMaps(station)">
                        <i class="fa fa-map-marker"></i>
                    </a>
                </div>
                <span class="distance">
                    <span class="distance-value">~ {{station.distance | distance}}</span>
                </span>
            </li>
        </ul>
        <div data-ng-if="reason" class="error-message">
            {{reason}}
        </div>
    </div>
    <div data-ng-if="loading" class="center location-intermittent">
        <span>
            Loading bart stations...
        </span>

        <div class="spinner"></div>
    </div>
</div>