<back-button data-back="back"></back-button>
<div class="find-bart-station">
    <div class="stations" data-ng-if="!loading">
        <ul data-ng-if="bart.stations">
            <li data-ng-repeat="station in bart.stations">
                <div class="station-info">
                    <span class="station-name">{{station.name}}</span>
                    <geo-link data-geo="station">
                        <i class="fa fa-map-marker"></i>
                    </geo-link>
                </div>
                <span class="distance" data-ng-if="!noPos">
                    <span class="distance-value">~ {{station.distance | distance}}</span>
                </span>
            </li>
        </ul>
    </div>
    <div data-ng-if="loading" class="center location-intermittent">
        <span>
            Loading bart stations...
        </span>

        <div class="spinner"></div>
    </div>
</div>