<div class="station-list">
    <label for="searchStation">
        <div class="input-station">
            <input type="text" id="searchStation" data-ng-model="stationFilter" placeholder="Search for a station"/>
            <span class="side-icon" data-ng-click="locateStation()">
                <i class="fa fa-location-arrow"></i>
            </span>
        </div>
    </label>
    <ul>
        <li class="animate-repeat" data-ng-repeat="station in stations.list | filter:stationFilter"
            data-ng-click="stations.select(station)">
            <div>
                {{station.name}}
            </div>
        </li>
    </ul>
</div>